<div class="col-md-6" style="border: 1px solid black">
    <h1>Employees:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Size</th>
            <th>Shoe size</th>
            <th>Rating</th>
            <th>Earnings</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="emp in employees">
            <td>{{emp.employee.email}}</td>
            <td>{{emp.employee.name}}</td>
            <td>{{emp.employee.surname}}</td>
            <td>{{emp.employee.size}}</td>
            <td>{{emp.employee.shoe}}</td>
            <td>{{emp.rating}}</td>
            <td>{{emp.earnings}}</td>
        </tr>
        </tbody>
    </table>

    <form id="add-employee-form" role="form" style="display: block;">
        <div class="form-group">
            <input type="text"  class="form-control"
                   placeholder="Email"  ng-model="employee.email">
        </div>
        <div class="form-group">
            <input type="text"  class="form-control"
                   placeholder="Name" value="" ng-model="employee.name">
        </div>
        <div class="form-group">
            <input type="text"  class="form-control"
                   placeholder="Surname" value="" ng-model="employee.surname">
        </div>
        <div class="form-group">
            <input type="date"  class="form-control"
                   placeholder="Date of birth" value="" ng-model="employee.birthday">
        </div>
        <div class="form-group">
            <input type="number"  class="form-control"
                   placeholder="Size" value="" ng-model="employee.size">
        </div>
        <div class="form-group">
            <input type="number"  class="form-control"
                   placeholder="Shoe size" value="" ng-model="employee.shoe">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           class="form-control btn btn-register" value="Add employee"
                           ng-click="createEmployee()">
                </div>
            </div>
        </div>
    </form>


</div>


<div class="col-md-6" style="border: 1px solid black">
    <h1>Schedule</h1>
    <!--<label for="schDate">Scheduler date</label>
    <input id="schDate" name="schDate" type="date" ng-model="schDate" ng-change="changeSchDate()">-->
    <div id="dp" ></div>
    <div>&nbsp</div>
    <div class="col-sm-6 col-sm-offset-3">
        <input type="submit"
               class="form-control btn btn-register" value="Save changes"
               ng-click="saveSchChanges()">
    </div>
    <div>&nbsp</div><div>&nbsp</div><div>&nbsp</div><div>&nbsp</div>
</div>