<!-- PAGE PAGE -->
<div class="container">

    <!-- NAV -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    Mandatory Password Change
                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->

    <!-- TOP -->
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <tbody>
                <tr>
                    <td>New Password:</td>
                    <td><input type="text" class="form-control" ng-model="password" ></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary pull-right" style="width: 100px; margin-top: 10px"
                                ng-click="change()">Change
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- TOP END -->


