<!-- PAGE PAGE -->
<div class="container">

    <!-- NAV -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/restorani">Restaurants<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/rezervacije">Reservations</a></li>
                    <li><a href="#/pozivnice">Invitations</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/nalog">{{profileName}}</a></li>
                    <li><a href="" ng-click="logout()">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->

    <!-- TOP -->
    <div class="row">
        <div class="col-md-3" style="height:250px;">
            SLIKA OVDE MOZDA?
        </div>
        <div class="col-md-9">
            <table class="table">
                <tbody>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" class="form-control" ng-model="user.name"></td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" class="form-control" ng-model="user.surname"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" class="form-control" ng-model="user.email" disabled></td>
                </tr>
                <tr>
                    <td>Number of visits:</td>
                    <td>{{user.visits}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary pull-right" style="width: 100px; margin-top: 10px"
                                ng-click="izmeniNalog()">Izmeni
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- TOP END -->

    <!-- BOTTOM -->
    <div class="row">

        <!-- FRIENDS LIST AND DELETE -->
        <div class="col-md-4">
            <h1>My friends:</h1>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name and surname:</th>
                    <th>Number of visits</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="friend in friends">
                    <td>{{friend.name + " " + friend.surname}}</td>
                    <td>{{friend.visits}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                ng-click="pripremaZaBrisanje(friend)" data-target="#modal-1">Obrisi
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- FRIENDS LIST AND DELETE END -->

        <!-- ADD FRIENDS -->
        <div class="col-md-4">
            <h1>
                <span>
                    Add friends:
                </span>
                <button class="btn btn-primary pull-right" ng-click="trazi()">Find</button>
            </h1>
            <div class="form-group">
                <input ng-model="friendSearch" type="text" class="form-control" placeholder="Search...">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name and surname:</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="addableFriend in addable">
                    <td>{{addableFriend.name + " " + addableFriend.surname}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="dodaj(addableFriend.email)">Add</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-- ADD FRIENDS END -->

        <!-- FRIEND REQUESTS -->
        <div class="col-md-4">
            <h1>Friend requests:</h1>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name and surname:</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="request in requests">
                    <td>{{request.name + " " + request.surname}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="prihvati(request.email)">Accept</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="odbi(request.email)">Decline</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- FRIEND REQUESTS END-->

    </div>
    <!-- BOTTOM END -->

    <!-- DELETE MODAL -->
    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">{{zaBrisanje.name + " " + zaBrisanje.surname}}</h3>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your friend?
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <a href="" class="btn btn-danger" ng-click="obrisi()" data-dismiss="modal">Obrisi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE MODAL END -->

</div>
<!-- PAGE END -->
