<div class="container">

    <!-- NAV -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li ><a href="#/raspored">Schedule</a></li>
                    <li ng-if="etype == 'konobar'" ><a href="#/raspored_stolova">Region</a></li>
                    <li ng-if="etype !== 'konobar'"><a href="#/order">Orders</a></li>
                    <li ng-if="etype == 'konobar'"><a href="#/racuni">Orders</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/nalog">Moj Profil</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->

    <div  ng-if="etype !== 'konobar'" class="col-md-6" style="border: 1px solid black">
        <h1>Accepted Orders:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Sifra</th>
                <th>Naziv Jela</th>
                <th>Pending</th>

                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr  ng-repeat="o in orders"  ng-if="rname == o.restname && o.accepted == 1 && o.done == 0  && mail == o.employeeemail" >

                <td>{{o.num}}</td>
                <td>{{o.menuitemname}}</td>

                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            ng-click="done(o.num,o.id,o.restname,o.email,o.menuitemname)" data-target="#modal-1">Done
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
    </div>


    <div  ng-if="etype !== 'konobar'" class="col-md-6" style="border: 1px solid black">
        <h1>Pending Orders:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Sifra</th>
                <th>Naziv Jela</th>
                <th>Pending</th>

                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr  ng-repeat="o in orders"  ng-if="rname == o.restname && o.accepted == 0 && o.done == 0 " >

                <td>{{o.num}}</td>
                <td>{{o.menuitemname}}</td>

                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            ng-click="accept(o.num,o.id,o.restname,o.email,o.menuitemname)" data-target="#modal-1">Accept
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
    </div>


</div>