<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/restorani">Restorani <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/rezervacije">Rezervacije</a></li>
                    <li class="active"><a href="#/pozivnice">Pozivnice</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#/nalog">Moj nalog</a></li>
                    <li><a href="#">Izloguj se</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-6" style="border: 1px solid black">
            <h1>Dolazece posete:</h1>
            <table class="table" >
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Trajanje</th>
                    <th>Pozivalac</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="inv in confirmed">
                    <td>{{inv.reservation.restaurant.name}}</td>
                    <td>{{inv.reservation.dateTime}}</td>
                    <td>{{inv.reservation.duration + " sata"}}</td>
                    <td>{{inv.reservation.host.name}}</td>
                    <td><button class="btn btn-danger">Naruci</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="border: 1px solid black">
            <h1>Moje pozivnice</h1>
            <table class="table" >
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Trajanje</th>
                    <th>Pozivalac</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="inv in notConfirmed">
                    <td>{{inv.reservation.rastaurant.name}}</td>
                    <td>{{inv.reservation.dateTime}}</td>
                    <td>{{inv.reservation.duration + " sata"}}</td>
                    <td>{{inv.reservation.host.name}}</td>
                    <td><button class="btn btn-success" ng-click="potvrdi(inv)">Dolazim</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
