<div class="container">

    <!-- NAV -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">



                    <li ><a href="#/raspored">Raspored Rada</a></li>
                    <li ><a href="#/raspored">Raspored Stolova</a></li>
                    <li ng-if="etype == 'konobar'"><a href="#/racuni">Racuni</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/nalog">Moj Profil</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->

    <div   class="col-md-6" style="border: 1px solid black">
        <h1>Porudzbine:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Sifra</th>
                <th>Naziv Jela</th>
                <th>Pending</th>

                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr  ng-repeat="r in racuni" ng-if="rname == r.resname && r.paid != 1 "  >

                <td>{{r.num}}</td>
                <td>{{r.resid}}</td>

                <td ng-if="r.done">
                    <button type="button" class="btn btn-success" data-toggle="modal" ng-click="naplati(r.num,r.resid,r.resname,r.gmail)" data-target="#modal-1" >Naplati</button>
                </td>
                <td ng-if="r.done == 0">Pending</td>

            </tr>

            </tbody>
        </table>
    </div>



</div>>