<div class="container">

    <!-- NAV -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/restorani">Restaurants<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/rezervacije">Reservations</a></li>
                    <li><a href="#/pozivnice">Invitations</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/nalog">{{profileName}}</a></li>
                    <li><a href="" ng-click="logout()">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->

    <div class="row">
        <div class="col-md-6">
            <h1>All restaurants:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>F Rating</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="res in restaurants">
                    <td>{{res.name}}</td>
                    <td>{{res.ocena}}</td>
                    <td>{{res.ocenaP}}</td>
                    <td>{{res.description}}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                ng-click="zapocniRezervaciju(res)" data-target="#modal-1">Reserve
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h1>Visited Restaurants:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Rating</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="res in visited">
                    <td>{{res.restaurantName}}</td>
                    <td>{{res.start | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                    <td>{{res.restaurant.rating}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-4">Oceni
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Reservation - step one</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Restaurant name:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date:</td>
                                        <td>
                                            <form>
                                                <input type="datetime-local" id="datepicker" name="bday"
                                                       ng-model="datum"
                                                       required>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Length of reservation:</td>
                                        <td>
                                            <select ng-model="trajanje">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <button type="button"
                                data-dismiss="modal"
                                class="btn btn-primary" data-toggle="modal" data-target="#modal-2">Next step
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Reservation - step two</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Restaurant name:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date/Time:</td>
                                        <td ng-bind="datum | date:'dd/MM/yyyy - HH:mm:ss'"></td>
                                    </tr>
                                    <tr>
                                        <td>Length of reservation:</td>
                                        <td>{{trajanje + " sata"}}</td>
                                    </tr>
                                    <tr>
                                        <td>Table number:</td>
                                        <td>
                                            <select ng-model="broj_stola">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div id="seat-map">
                                </div>
                                <div class="booking-details">
                                    <h3>Reserved table:</h3>
                                    <ul id="selected-seats"></ul>
                                    <h3>Legend:</h3>
                                    <div id="legend"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button" ng-disabled="broj_stola==null" data-dismiss="modal"
                                class="btn btn-primary" data-toggle="modal" data-target="#modal-3">Reserve
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-3">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Reservation - step three</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Restaurant name:</td>
                                        <td>{{restoran.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date/Time:</td>
                                        <td ng-bind="datum | date:'dd/MM/yyyy - HH:mm:ss'"></td>
                                    </tr>
                                    <tr>
                                        <td>Length of reservation:</td>
                                        <td>{{trajanje + " sata"}}</td>
                                    </tr>
                                    <tr>
                                        <td>Table number:</td>
                                        <td>{{broj_stola}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <table class="table">
                                                <tbody>
                                                <tr ng-repeat="friend in friends">
                                                    <td>{{friend.name +" "+ friend.surname}}</td>
                                                    <td>
                                                        <button class="btn btn-success"
                                                                ng-click="pozoviPrijatelja(friend.email)">Invite
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="rezervisi()"
                                data-toggle="modal">Reserve
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="modal-4">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Reservation - step 3</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Naziv:</td>
                                <td>Moj Naziv</td>
                            </tr>
                            <tr>
                                <td>Datum:</td>
                                <td>{{datum}}</td>
                            </tr>
                            <tr>
                                <td>Trajanje:</td>
                                <td>2 sata</td>
                            </tr>
                            <tr>
                                <td>Ocena restorana:</td>
                                <td>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ocena konobara:</td>
                                <td>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ocena jela:</td>
                                <td>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Odustani</a>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" data-toggle="modal">Oceni
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>