<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ISA 2016</title>

    <!-- Bootstrap and custom CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{bootstrap.css}"/>
    <link rel="stylesheet" href="../static/app/style.css" th:href="@{app/style.css}"/>

    <!-- Angular -->
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/angular-route.js" th:src="@{/angular-route.js}"></script>
    <script type="text/javascript" src="/static/angular-cookies.js" th:src="@{/angular-cookies.js}"></script>

    <!-- JS -->
    <script type="text/javascript" src="/static/app/module.js" th:src="@{/app/module.js}"></script>

    <!-- DEPRECATED
    <script type="text/javascript" src="/static/app/controller.js" th:src="@{/app/controller.js}"></script>
    -->
    <script type="text/javascript" src="/static/app/login.js" th:src="@{/app/login.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/restaurantController.js"
            th:src="@{/app/controllers/restaurantController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/accountController.js"
            th:src="@{/app/controllers/accountController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/loginController.js"
            th:src="@{/app/controllers/loginController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/reservationController.js"
            th:src="@{/app/controllers/reservationController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/invitationsController.js"
            th:src="@{/app/controllers/invitationsController.js}"></script>

    <!-- JQuery and BootstrapJS -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous" th:src="@{/jquery-3.1.1.min.js}">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/bootstrap.min.js}"></script>

</head>
<body ng-app="app">
<div ng-view=""></div>
</body>
</html>