<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ISA 2016</title>



    <!-- Bootstrap and custom CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{bootstrap.css}"/>
    <link rel="stylesheet" href="../static/app/style.css" th:href="@{app/style.css}"/>

    <!-- Angular -->
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/angular-route.js" th:src="@{/angular-route.js}"></script>
    <script type="text/javascript" src="/static/angular-cookies.js" th:src="@{/angular-cookies.js}"></script>

    <!-- Koristi sockjs biblioteku da se konektuje na /stomp endpoint -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"
            th:src="@{/sockjs.min.js}"></script>
    <!-- Koristi stomp biblioteku da se pretplati na brokerov /topic/message endpoint -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            th:src="@{/stomp.min.js}"></script>

    <!-- JQuery and BootstrapJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            th:src="@{/jquery-3.1.1.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
            th:src="@{/bootstrap.min.js}"></script>

    <!-- JS -->
    <script type="text/javascript" src="/static/app/module.js" th:src="@{/app/module.js}"></script>

    <!-- JS SEATING CHARTS -->
    <script type="text/javascript" src="/static/jquery.seat-charts.min.js"
            th:src="@{/jquery.seat-charts.min.js}"></script>
    <link rel="stylesheet" href="../static/jquery.seat-charts.css" th:href="@{jquery.seat-charts.css}"/>

    <!-- DEPRECATED
    <script type="text/javascript" src="/static/app/controller.js" th:src="@{/app/controller.js}"></script>
    -->
    <script type="text/javascript" src="/static/app/login.js" th:src="@{/app/login.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/restaurantController.js"
            th:src="@{/app/controllers/restaurantController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/accountController.js"
            th:src="@{/app/controllers/accountController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/loginController.js"
            th:src="@{/app/controllers/loginController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/reservationController.js"
            th:src="@{/app/controllers/reservationController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/invitationsController.js"
            th:src="@{/app/controllers/invitationsController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/menuItemController.js"
            th:src="@{/app/controllers/menuItemController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/demandController.js"
            th:src="@{/app/controllers/demandController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/restaurantCreateController.js."
            th:src="@{/app/controllers/restaurantCreateController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/supplierController.js."
            th:src="@{/app/controllers/supplierController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/orderController.js."
            th:src="@{/app/controllers/orderController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/racuniController.js."
            th:src="@{/app/controllers/racuniController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/rasporedController.js"
            th:src="@{/app/controllers/rasporedController.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/firstController.js"
            th:src="@{/app/controllers/firstController.js}"></script>


    <!-- Kalendar -->
    <script src="/static/fullcalendar/lib/moment.min.js" th:src="@{/fullcalendar/lib/moment.min.js}" ></script>
    <link rel='stylesheet' href="../static/fullcalendar/fullcalendar.css"  th:href="@{/fullcalendar/fullcalendar.css}"/>
    <script src="/static/fullcalendar/fullcalendar.min.js" th:src="@{/fullcalendar/fullcalendar.min.js}" ></script>
    <script src="/static/fullcalendar/gcal.min.js"  th:src="@{/fullcalendar/gcal.min.js}"></script>
    <script src="/static/fullcalendar/locale/sr.js" th:src="@{/fullcalendar/locale/sr.js}"></script>


</head>
<body ng-app="app">

<script src="/static/moment.min.js" th:src="@{/moment.min.js}"></script>

<div ng-view="">
</div>

</body>
</html>
