<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ISA 2016</title>

    <!-- Boostrap and custom CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css"/>
    <link rel="stylesheet" href="../static/app/style.css"/>

    <!-- Angular -->
    <script type="text/javascript" src="/static/angular.min.js"></script>
    <script type="text/javascript" src="/static/angular-route.js"></script>
    <script type="text/javascript" src="/static/angular-cookies.js"></script>

    <!-- JQuery and Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="/static/app/module.js"></script>
    <script type="text/javascript" src="/static/app/login.js"></script>
    <script type="text/javascript" src="/static/app/controllers/restaurantController.js"></script>
    <script type="text/javascript" src="/static/app/controllers/accountController.js"></script>
    <script type="text/javascript" src="/static/app/controllers/loginController.js"></script>
    <script type="text/javascript" src="/static/app/controllers/reservationController.js"></script>
    <script type="text/javascript" src="/static/app/controllers/invitationsController.js"></script>
</head>
<body ng-app="app">
cao buraz.
<div ng-view="">
</div>
</body>
</html>
